<a href="https://colab.research.google.com/github/rattapornsupama/DPDM65/blob/main/Data101(chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

pandas คือ package ที่มีคนพัฒนาขึ้นมาเพื่อใช้จัดการข้อมูลที่มีลักษณะเป็นตารางซึ่งใน pandas เรียกว่า datafame

In [7]:
import pandas #import pandas คือ โหลด package ที่ชื่อว่า pandas มาใช้

In [8]:
import pandas as pd #โหลด package ที่ชื่อว่า pandas มาใช้ แล้วตั้งชื่อว่า pd

ไฟล์ .csv (csv = comma separated values)

In [9]:
data_df = pd.read_csv('data.csv')

In [10]:
data_df

   car_id        model  year   value  person_id
0     101      bentley  1973  100000          1
1     102  rolls royce  1965  330000          1

In [11]:
data_df2 = pandas.read_csv('data.csv')
data_df2

   car_id        model  year   value  person_id
0     101      bentley  1973  100000          1
1     102  rolls royce  1965  330000          1

#Basic Python  คาบ3

#Variable

ข้อกำหนดในการตั้งชื่อตัวแปร
1.   ชื่อห้ามมีเว้นวรรค
2.   (พยายาม)ใช้ภาษาอังกฤษ
3.   ตัวเล็กกับตัวพิมพ์ใหญ่ แตกต่างกัน(case sensitive)
4.   ห้ามใช้ตัวเลขเป็นตัวหน้า

In [32]:
variable_a = 12
variable_b = 3.14
variable_c = 'A'                      # ' คือ quote หรือ '' double quote
variable_d = 'MSc Stat KKU'

In [33]:
variable_e='11'

ตัวอย่างการตั้งชื่อ

In [15]:
ตัวแปรเอ=123

In [16]:
ตัวแปรเอ

123

In [17]:
Cat=1
cat=2

In [18]:
Cat

1

In [19]:
cat

2

In [21]:
print(cat)   #คำสั่ง print แสดงค่าที่อยู่ในตัวแปรออกมา

2

In [24]:
variable_x=variable_a+variable_b  #ตัวแปรสามารถ บวก ลบ คูณ หาร กันได้ , เราเอา variable_x มาเก็บผลลัพธ์ ซึ่งสามารถเรียกใช้ได้

In [25]:
variable_x

15.14

In [27]:
variable_a+variable_b   #หาคำตอบได้ แต่เรียกใช้ผลไม่ได้ เพราะไม่มีตัวแปรใดมาเก้บผลลัพธ์ไว้

15.14

In [28]:
variable_x=variable_a+variable_b+5
print(variable_x)

20.14

In [29]:
variable_z=variable_a
print(variable_z)

12

In [38]:
variable_a=variable_a+3     #อับเดตค่า a แต่ค่า z ไม่ได้อับเดตด้วย เพราะกำหนดให้มาก่อนหน้านี้
print(variable_a)
print(variable_z)

15
12

In [35]:
# variable_a+variable_e   ไม่สามารถเอาจำนวน มาบวกกับ ตัวเลขได้

In [36]:
variable_c+variable_d   # ตัวอักษร รวม ตัวอักษร ได้

'AMSc Stat KKU'

###คำสั่ง Casting 
1.   int()  เปลี่ยน ตัวแปรเดิม ให้เป็นตัวแปรที่อยู่ในรูปแบบ ตัวเลข
2.   float() เปลี่ยน ตัวแปรเดิม ให้เป็นตัวแปรที่อยู่ในรูปแบบ ....
3.   str() เปลี่ยน ตัวแปรเดิม ให้เป็นตัวแปรที่อยู่ในรูปแบบ ตัวอักษร

In [39]:
variable_a+int(variable_e)

26

In [40]:
variable_e+str(variable_a)

'1115'

ตรวจสอบชนิดของตัวแปรด้วย คำสั่ง type

In [42]:
type(variable_e)

str

In [43]:
type(variable_a)

int

#Data structure

###list

In [46]:
list_a=[1,2,3,0.9,'aaz',variable_b]    # [ ] squre brackage คือ ใช้ำในการสร้าง list

In [47]:
list_a

[1, 2, 3, 0.9, 'aaz', 3.14]

indexing
1.   ใช้ลำดับในการชี้
2.   ลำดับเริ่มต้นจาก 0
3.   สามารถชี้จากข้างหลังได้โดยใช้ negative index

positive index ชี้จากข้างหน้า (การนับสมาชิก ไล่จากลำดับที่ 0 ,1,2,...)

In [51]:
list_a[5]

3.14

In [49]:
list_a[0]

1

negative index ชี้จากข้างหลัง (การนับสมาชิก ไล่จากข้างหลังลำดับที่ -1,-2,-3,...)

In [52]:
list_a[-2]

'aaz'

In [54]:
list_b=['pizza',list_a]
list_b

['pizza', [1, 2, 3, 0.9, 'aaz', 3.14]]

In [56]:
list_b[1][3]

0.9

string คือ list ของตัวอักษร

In [58]:
x='shabu'
x[3]

'b'

In [59]:
print(list_a)
print(list_b)

[1, 2, 3, 0.9, 'aaz', 3.14]
['pizza', [1, 2, 3, 0.9, 'aaz', 3.14]]

In [60]:
list_a+list_b

[1, 2, 3, 0.9, 'aaz', 3.14, 'pizza', [1, 2, 3, 0.9, 'aaz', 3.14]]

การสร้าง list
1.   สร้าง list ว่าง
2.   เพิ่มสมาชิกลงไปใน list

1.สร้าง list ว่าง

In [97]:
list_aa=[]

In [98]:
list_aa

[]

In [99]:
list_bb=list()
print(list_bb)

[]

2.เพิ่มสมาชิกลงไปใน list

In [100]:
list_aa.append('chicken')
list_aa.append('water')
list_aa.append('vegetable')
list_aa.append('plate')

In [101]:
list_aa

['chicken', 'water', 'vegetable', 'plate']

In [102]:
list_aa[-2]

'vegetable'

###list slicing
ใช้ : (colon) เพื่อทำ slicing

เราจะตัด list โดยเอาตั้งแต่ [ตัวหน้า:ตัวก่อนตัวหลัง]

ถ้าเป็นสัญลักษณ์คณิตศาสตร์ [ตัวหน้า:ตัวหลัง] -> [ตัวหน้า,ตัวหลัง)

In [103]:
list_aa

['chicken', 'water', 'vegetable', 'plate']

In [104]:
list_aa[1:3]

['water', 'vegetable']

Quiz 1

ตัดส่วนของ list เหล่านี้มาจาก list_aa
1. 'icken'
2. 'get'
3. 'tab'

In [105]:
list_aa[0][2:8]

'icken'

In [106]:
list_aa[2][2:5]

'get'

In [107]:
list_aa[2][4:7]

'tab'

In [108]:
list_aa[1][1:]   
# ไม่ใส่เลขหลัง : หมายถึง นับถึงตัวสุดท้าย 
# ไม่ใส่เลขหน้า : หมายถึง นับตั้งแต่ตัวแรก

'ater'

In [109]:
list_aa[1][:3]

'wat'

## Advance list slicing