<a href="https://colab.research.google.com/github/rattapornsupama/DPDM65/blob/main/Data101(chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

pandas คือ package ที่มีคนพัฒนาขึ้นมาเพื่อใช้จัดการข้อมูลที่มีลักษณะเป็นตารางซึ่งใน pandas เรียกว่า datafame

In [ ]:
import pandas #import pandas คือ โหลด package ที่ชื่อว่า pandas มาใช้

In [ ]:
import pandas as pd #โหลด package ที่ชื่อว่า pandas มาใช้ แล้วตั้งชื่อว่า pd

ไฟล์ .csv (csv = comma separated values)

In [ ]:
data_df = pd.read_csv('data.csv')

In [ ]:
data_df

   car_id        model  year   value  person_id
0     101      bentley  1973  100000          1
1     102  rolls royce  1965  330000          1

In [ ]:
data_df2 = pandas.read_csv('data.csv')
data_df2

   car_id        model  year   value  person_id
0     101      bentley  1973  100000          1
1     102  rolls royce  1965  330000          1

#Basic Python  คาบ3

#Variable

ข้อกำหนดในการตั้งชื่อตัวแปร
1.   ชื่อห้ามมีเว้นวรรค
2.   (พยายาม)ใช้ภาษาอังกฤษ
3.   ตัวเล็กกับตัวพิมพ์ใหญ่ แตกต่างกัน(case sensitive)
4.   ห้ามใช้ตัวเลขเป็นตัวหน้า

In [ ]:
variable_a = 12
variable_b = 3.14
variable_c = 'A'                      # ' คือ quote หรือ '' double quote
variable_d = 'MSc Stat KKU'

In [ ]:
variable_e='11'

ตัวอย่างการตั้งชื่อ

In [ ]:
ตัวแปรเอ=123

In [ ]:
ตัวแปรเอ

123

In [ ]:
Cat=1
cat=2

In [ ]:
Cat

1

In [ ]:
cat

2

In [ ]:
print(cat)   #คำสั่ง print แสดงค่าที่อยู่ในตัวแปรออกมา

2

In [ ]:
variable_x=variable_a+variable_b  #ตัวแปรสามารถ บวก ลบ คูณ หาร กันได้ , เราเอา variable_x มาเก็บผลลัพธ์ ซึ่งสามารถเรียกใช้ได้

In [ ]:
variable_x

15.14

In [ ]:
variable_a+variable_b   #หาคำตอบได้ แต่เรียกใช้ผลไม่ได้ เพราะไม่มีตัวแปรใดมาเก้บผลลัพธ์ไว้

15.14

In [ ]:
variable_x=variable_a+variable_b+5
print(variable_x)

20.14

In [ ]:
variable_z=variable_a
print(variable_z)

12

In [ ]:
variable_a=variable_a+3     #อับเดตค่า a แต่ค่า z ไม่ได้อับเดตด้วย เพราะกำหนดให้มาก่อนหน้านี้
print(variable_a)
print(variable_z)

15
12

In [ ]:
# variable_a+variable_e   ไม่สามารถเอาจำนวน มาบวกกับ ตัวเลขได้

In [ ]:
variable_c+variable_d   # ตัวอักษร รวม ตัวอักษร ได้

'AMSc Stat KKU'

###คำสั่ง Casting 
1.   int()  เปลี่ยน ตัวแปรเดิม ให้เป็นตัวแปรที่อยู่ในรูปแบบ ตัวเลข
2.   float() เปลี่ยน ตัวแปรเดิม ให้เป็นตัวแปรที่อยู่ในรูปแบบ ....
3.   str() เปลี่ยน ตัวแปรเดิม ให้เป็นตัวแปรที่อยู่ในรูปแบบ ตัวอักษร

In [ ]:
variable_a+int(variable_e)

26

In [ ]:
variable_e+str(variable_a)

'1115'

ตรวจสอบชนิดของตัวแปรด้วย คำสั่ง type

In [ ]:
type(variable_e)

str

In [ ]:
type(variable_a)

int

#Data structure

###list

In [ ]:
list_a=[1,2,3,0.9,'aaz',variable_b]    # [ ] squre brackage คือ ใช้ำในการสร้าง list

In [ ]:
list_a

[1, 2, 3, 0.9, 'aaz', 3.14]

indexing
1.   ใช้ลำดับในการชี้
2.   ลำดับเริ่มต้นจาก 0
3.   สามารถชี้จากข้างหลังได้โดยใช้ negative index

positive index ชี้จากข้างหน้า (การนับสมาชิก ไล่จากลำดับที่ 0 ,1,2,...)

In [ ]:
list_a[5]

3.14

In [ ]:
list_a[0]

1

negative index ชี้จากข้างหลัง (การนับสมาชิก ไล่จากข้างหลังลำดับที่ -1,-2,-3,...)

In [ ]:
list_a[-2]

'aaz'

In [ ]:
list_b=['pizza',list_a]
list_b

['pizza', [1, 2, 3, 0.9, 'aaz', 3.14]]

In [ ]:
list_b[1][3]

0.9

string คือ list ของตัวอักษร

In [ ]:
x='shabu'
x[3]

'b'

In [ ]:
print(list_a)
print(list_b)

[1, 2, 3, 0.9, 'aaz', 3.14]
['pizza', [1, 2, 3, 0.9, 'aaz', 3.14]]

In [ ]:
list_a+list_b

[1, 2, 3, 0.9, 'aaz', 3.14, 'pizza', [1, 2, 3, 0.9, 'aaz', 3.14]]

การสร้าง list
1.   สร้าง list ว่าง
2.   เพิ่มสมาชิกลงไปใน list

1.สร้าง list ว่าง

In [ ]:
list_aa=[]

In [ ]:
list_aa

[]

In [ ]:
list_bb=list()
print(list_bb)

[]

2.เพิ่มสมาชิกลงไปใน list

In [ ]:
list_aa.append('chicken')
list_aa.append('water')
list_aa.append('vegetable')
list_aa.append('plate')

In [ ]:
list_aa

['chicken', 'water', 'vegetable', 'plate']

In [ ]:
list_aa[-2]

'vegetable'

###list slicing
ใช้ : (colon) เพื่อทำ slicing

เราจะตัด list โดยเอาตั้งแต่ [ตัวหน้า:ตัวก่อนตัวหลัง]

ถ้าเป็นสัญลักษณ์คณิตศาสตร์ [ตัวหน้า:ตัวหลัง] -> [ตัวหน้า,ตัวหลัง)

In [ ]:
list_aa

['chicken', 'water', 'vegetable', 'plate']

In [ ]:
list_aa[1:3]

['water', 'vegetable']

### Quiz 1

ตัดส่วนของ list เหล่านี้มาจาก list_aa
1. 'icken'
2. 'get'
3. 'tab'

In [ ]:
list_aa[0][2:7]

'icken'

In [ ]:
list_aa[2][2:5]

'get'

In [ ]:
list_aa[2][4:7]

'tab'

In [ ]:
list_aa[1][1:]   
# ไม่ใส่เลขหลัง : หมายถึง นับถึงตัวสุดท้าย 
# ไม่ใส่เลขหน้า : หมายถึง นับตั้งแต่ตัวแรก

'ater'

In [ ]:
list_aa[1][:3]

'wat'

### Advance list slicing
:: (colon 2 ตัว)

เราจะตัด list โดยเอาตั้งแต่ [ตัวหน้า:ตัวก่อนตัวหลัง:step]

ถ้าเป็นสัยลักษณ์คณิตศาสตร์ [ตัวหน้า:ตัวหลัง] ->[ตัวหน้า,ตัวหลัง)

หมายเหตุ 
1. ไม่ใส่ตัวหน้า คือ นับตั้งแต่ตัวแรก
2. ไม่ใส่ตัวก่อนตัีวหลัง คือ นับถึงตัวสุดท้าย 
3. ไม่ใส่step  คือ step=1

In [ ]:
list_aa[2]

'vegetable'

In [ ]:
list_aa[::]

['chicken', 'water', 'vegetable', 'plate']

In [ ]:
list_aa[::2]

['chicken', 'vegetable']

In [ ]:
list_aa[::-1]

['plate', 'vegetable', 'water', 'chicken']

In [ ]:
list_aa[2][::2]

'vgtbe'

In [ ]:
list_aa[2][::-1]

'elbategev'

format string

การจัดการข้อความที่เป็นตัวอักษร เราสามารถแทรกตัวแปรเข้าไปอยู่ในข้อความที่เป็นตัวหนังสือได้

 ```python
f'string{variable}'
 ```

In [ ]:
f'I like to eat {list_aa[2]}'  # {} คือ curly backage

'I like to eat vegetable'

In [ ]:
f'9x10={9*10}'    # สามารถเขียนสมการเข้าไปไหน format string ได้

'9x10=90'

##Loop

การให้ com ทำงานที่ซ้ำๆกัน หรือ ทำงานที่คล้ายๆกัน หลายๆรอบ

``` python
for ตัวแปรที่เราจะรับค่าจากลิสต์ in ลิสต์ที่ต้องการจะวนลูป : 
     do something
     do another thing

this is outside the loop
```
หมายเหตุ 
1. ถ้าหลังคำสั่ง for ข้อความนั้น ย่อหน้า(indent) แสดงว่าข้อความนั้นอยู่ในลูป for
2. ถ้าหลังคำสั่ง for ข้อความนั้น ตรงกับลูป for แสดงว่าข้อความนั้นไม่ได้อยู่ในลูป for

In [ ]:
list_aa

['chicken', 'water', 'vegetable', 'plate']

####ทำงานคล้ายๆกัน หลายรอบ

In [ ]:
for i in list_aa:
    print(f'now i is {i}')
    print(f'I like to eat {i}' )

now i is chicken
I like to eat chicken
now i is water
I like to eat water
now i is vegetable
I like to eat vegetable
now i is plate
I like to eat plate

####ทำงานซ้ำๆกัน

In [ ]:
for i in list_aa:
    print('Ha')
#ลิสต์นี้ มีอยู่แล้ว

Ha
Ha
Ha
Ha

In [ ]:
for x in [1,3,5,7,9]:
    print(f'this x ={x}  x/2={x/2}')
#ลิสต์นี้ สร้างขึ้นมาใหม่

this x =1  x/2=0.5
this x =3  x/2=1.5
this x =5  x/2=2.5
this x =7  x/2=3.5
this x =9  x/2=4.5

In [ ]:
list(range(10))      #คำสั่ง range ใช้สร้าง list ของตัวเลขโดยเริ่มจากเลข 0

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
for i in range(100):
    print(f'Ha{i}',end=' ')
# คำสั่ง end='' ใช้เพื่อ ให้คำตอบต่อกันเลย ไม่เว้นวรรค ไม่ขึ้นบรรทัดใหม่
# คำสั่ง end=' ' ใช้เพื่อ ให้คำตอบต่อกันเลยโดย เว้นวรรค แต่ ไม่ขึ้นบรรทัดใหม่

Ha0 Ha1 Ha2 Ha3 Ha4 Ha5 Ha6 Ha7 Ha8 Ha9 Ha10 Ha11 Ha12 Ha13 Ha14 Ha15 Ha16 Ha17 Ha18 Ha19 Ha20 Ha21 Ha22 Ha23 Ha24 Ha25 Ha26 Ha27 Ha28 Ha29 Ha30 Ha31 Ha32 Ha33 Ha34 Ha35 Ha36 Ha37 Ha38 Ha39 Ha40 Ha41 Ha42 Ha43 Ha44 Ha45 Ha46 Ha47 Ha48 Ha49 Ha50 Ha51 Ha52 Ha53 Ha54 Ha55 Ha56 Ha57 Ha58 Ha59 Ha60 Ha61 Ha62 Ha63 Ha64 Ha65 Ha66 Ha67 Ha68 Ha69 Ha70 Ha71 Ha72 Ha73 Ha74 Ha75 Ha76 Ha77 Ha78 Ha79 Ha80 Ha81 Ha82 Ha83 Ha84 Ha85 Ha86 Ha87 Ha88 Ha89 Ha90 Ha91 Ha92 Ha93 Ha94 Ha95 Ha96 Ha97 Ha98 Ha99

In [ ]:
list(range(5,10))  # range(5,10) เอาเลข 5 ถึง 9 (ตัวก่อน10)

[5, 6, 7, 8, 9]

In [ ]:
list(range(5,100,7))    # range(5,100,7) เอาเลข 5 ถึง 99 (ตัวก่อน100) โดยเพิ่มขึ้นทีละ 7

[5, 12, 19, 26, 33, 40, 47, 54, 61, 68, 75, 82, 89, 96]

### Nested loop

In [ ]:
for i in range(3):
    print(f'i={i}')
    for j in range(2):
        print(f'i={i}, j={j}, i+j={i+j}')

i=0
i=0, j=0, i+j=0
i=0, j=1, i+j=1
i=1
i=1, j=0, i+j=1
i=1, j=1, i+j=2
i=2
i=2, j=0, i+j=2
i=2, j=1, i+j=3

### Quiz 2

สร้าง list [[1],[1,1],[1,1,1],...,[1,1,1,1,1,1,1,1,1,1]] โดยใช้ for loop

In [ ]:
list_ans=[]                                            #สร้าง list_b เพื่อเก็บคำตอบ
for i in range(1,11):                            #ใช้ลูป for นี้เพื่อวน i จาก 1 ถึง 10
    list_x = []                                      # ห้ามเอา list_a ไว้นอก for 
    print(f'1.list_x={list_x} , i={i}')
    for j in range(i):                              #ใช้ลูป for นี้เพื่อวนอีกรอบ เพื่อเพิ่มสมาชิกเข้าไปใน list
        list_x.append(1)                          # ลูป i=1 เพิ่ม 1 จำนวน j=1 ตัว ,, ลูป i=2 เพิ่ม 1 จำนวน j=2 ตัว เป็นแบบนี้ไปเรื่อยๆ / list_a อยู่ในลูป for j
    print(f'2.list_x={list_x}')
    list_ans.append(list_x)                        # list_b อยู่ในลูป for i
    print(f'3.list_ans={list_ans}')

print(list_ans)

1.list_x=[] , i=1
2.list_x=[1]
3.list_ans=[[1]]
1.list_x=[] , i=2
2.list_x=[1, 1]
3.list_ans=[[1], [1, 1]]
1.list_x=[] , i=3
2.list_x=[1, 1, 1]
3.list_ans=[[1], [1, 1], [1, 1, 1]]
1.list_x=[] , i=4
2.list_x=[1, 1, 1, 1]
3.list_ans=[[1], [1, 1], [1, 1, 1], [1, 1, 1, 1]]
1.list_x=[] , i=5
2.list_x=[1, 1, 1, 1, 1]
3.list_ans=[[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1]]
1.list_x=[] , i=6
2.list_x=[1, 1, 1, 1, 1, 1]
3.list_ans=[[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1]]
1.list_x=[] , i=7
2.list_x=[1, 1, 1, 1, 1, 1, 1]
3.list_ans=[[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1]]
1.list_x=[] , i=8
2.list_x=[1, 1, 1, 1, 1, 1, 1, 1]
3.list_ans=[[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1]]
1.list_x=[] , i=9
2.list_x=[1, 1, 1, 1, 1, 1, 1, 1, 1]
3.list_ans=[[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1]]
1.list_x=[] , i=10
2.list_x=[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
3.list_ans=[[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]]
[[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]]

###Quiz 3

สร้าง list [[1],[1,2],[1,2,3],...,[1,2,3,4,5,6,7,8,9,10]] โดยใช้ for loop

In [ ]:
list_ans1=[]                                            #สร้าง list_b เพื่อเก็บคำตอบ
for i in range(1,11):                            #ใช้ลูป for นี้เพื่อวน i จาก 1 ถึง 10
    list_y = []                                      # ห้ามเอา list_a ไว้นอก for 
    print(f'1.list_y={list_y} , i={i}')
    for j in range(1,i+1):                       #ใช้ลูป for นี้เพื่อวนอีกรอบ เพื่อเพิ่มสมาชิกเข้าไปใน list
        #print(f'j={j}',end=' ')
        list_y.append(j)                          # ลูป i=1 เพิ่ม j=1  ลูป i=2 เพิ่ม j=1,2 เป็นแบบนี้ไปเรื่อยๆ / list_a อยู่ในลูป for j
    print(f'2.list_y={list_y}')
    list_ans1.append(list_y)                        # list_b อยู่ในลูป for i
    print(f'3.list_ans1={list_ans1}')

print(list_ans1)
# i เป็นตำแหน่ง , j เป็นตัวเลข

1.list_y=[] , i=1
2.list_y=[1]
3.list_ans1=[[1]]
1.list_y=[] , i=2
2.list_y=[1, 2]
3.list_ans1=[[1], [1, 2]]
1.list_y=[] , i=3
2.list_y=[1, 2, 3]
3.list_ans1=[[1], [1, 2], [1, 2, 3]]
1.list_y=[] , i=4
2.list_y=[1, 2, 3, 4]
3.list_ans1=[[1], [1, 2], [1, 2, 3], [1, 2, 3, 4]]
1.list_y=[] , i=5
2.list_y=[1, 2, 3, 4, 5]
3.list_ans1=[[1], [1, 2], [1, 2, 3], [1, 2, 3, 4], [1, 2, 3, 4, 5]]
1.list_y=[] , i=6
2.list_y=[1, 2, 3, 4, 5, 6]
3.list_ans1=[[1], [1, 2], [1, 2, 3], [1, 2, 3, 4], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5, 6]]
1.list_y=[] , i=7
2.list_y=[1, 2, 3, 4, 5, 6, 7]
3.list_ans1=[[1], [1, 2], [1, 2, 3], [1, 2, 3, 4], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5, 6], [1, 2, 3, 4, 5, 6, 7]]
1.list_y=[] , i=8
2.list_y=[1, 2, 3, 4, 5, 6, 7, 8]
3.list_ans1=[[1], [1, 2], [1, 2, 3], [1, 2, 3, 4], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5, 6], [1, 2, 3, 4, 5, 6, 7], [1, 2, 3, 4, 5, 6, 7, 8]]
1.list_y=[] , i=9
2.list_y=[1, 2, 3, 4, 5, 6, 7, 8, 9]
3.list_ans1=[[1], [1, 2], [1, 2, 3], [1, 2, 3, 4], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5, 6], [1, 2, 3, 4, 5, 6, 7], [1, 2, 3, 4, 5, 6, 7, 8], [1, 2, 3, 4, 5, 6, 7, 8, 9]]
1.list_y=[] , i=10
2.list_y=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
3.list_ans1=[[1], [1, 2], [1, 2, 3], [1, 2, 3, 4], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5, 6], [1, 2, 3, 4, 5, 6, 7], [1, 2, 3, 4, 5, 6, 7, 8], [1, 2, 3, 4, 5, 6, 7, 8, 9], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]]
[[1], [1, 2], [1, 2, 3], [1, 2, 3, 4], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5, 6], [1, 2, 3, 4, 5, 6, 7], [1, 2, 3, 4, 5, 6, 7, 8], [1, 2, 3, 4, 5, 6, 7, 8, 9], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]]

## Conditional Statement (if statement)

```python
if เงื่อนไขที่เราจะตรวจสอบ (โดยอาศัยสัญลักษณ์เหล่านี้ ==, !=, <, >, <=, >=, in, is_null()) :
    ถ้าเงื่อนไขเป็นจริง ทำ
    ถ้าเงื่อนไขเป็นจริง ทำ
```
1. == เท่ากับ 
2. != ไม่เท่ากับ
3. < น้อยกว่า , > มากกว่า
5. <= น้อยกว่าเท่ากับ , >= มากว่าเท่ากับ 
7. in อยู่ใน list นี้รึป่าว
8. is_null() เป็นค่าว่างที่ไม่มีค่ารึป่าว

In [ ]:
if 1<5:
    print('yes')

yes

```python
if เงื่อนไขที่เราจะตรวจสอบ (โดยอาศัยสัญลักษณ์ ==, !=, <, >, <=, >=, in, is_null()) :
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ 1
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ 2
elif เงื่อนไขที่เราจะตรวจสอบต่อไปนี้ ถ้าเงื่อนไขข้างบนไม่เป็นจริง :
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ a1
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ a2
elif เงื่อนไขที่เราจะตรวจสอบต่อไปนี้ ถ้าเงื่อนไขข้างบนไม่เป็นจริง :
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ b1
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ b2
else: #ตรวจสอบเงื่อนไขข้างบนแล้วไม่เป็นจริง
    ทำงานที่ X
```

In [ ]:
x=-12
if x<5:
    print('yes')
else:
    print('no')

yes

###example

list_ex=[1,5,9,-19,-2,0]  #หาค่าน้อยที่สุดใน list_ex โดยไม่ใช้ function min (ใช้ for กับ if)

In [ ]:
list_ex=[1,5,9,-19,-2,0]
min = 1000000          #กำหนดค่าเยอะๆไว้ก่อน
for i in list_ex:
    if i<min:                #ถ้า i น้อยกว่า min
        min = i              #จะเปลี่ยน min เป็น i

print(min)

-19

In [ ]:
#ขั้นตอนละเอียด

list_ex=[1,5,9,-19,-2,0]
min = 1000000

for i in list_ex:
    print(f'now i ={i},min ={min}')
    print('start condition')
    if i<min:
        print(f'i < min , update min -> {i}')
        min = i
    else:
        print('i >= min, not update')
    print('end condition, go to next i')
    
print(min)

now i =1,min =1000000
start condition
i < min , update min -> 1
end condition, go to next i
now i =5,min =1
start condition
i >= min, not update
end condition, go to next i
now i =9,min =1
start condition
i >= min, not update
end condition, go to next i
now i =-19,min =1
start condition
i < min , update min -> -19
end condition, go to next i
now i =-2,min =-19
start condition
i >= min, not update
end condition, go to next i
now i =0,min =-19
start condition
i >= min, not update
end condition, go to next i
-19

###Quiz 4

list_ex=[1,5,9,-19,-2,0]  #หาค่ามากที่สุดใน list_ex โดยไม่ใช้ function max (ใช้ for กับ if)

In [ ]:
list_ex=[1,5,9,-19,-2,0]
max = -1000000           #ตั้งค่าน้อยๆไว้ก่อน
for i in list_ex:
    if i>max:                 #ถ้า i มากกว่า max
        max = i               #จะเปลี่ยน max เป็น i

print(max)

9

In [ ]:
#ขั้นตอนละเอียด

list_ex=[1,5,9,-19,-2,0]
max = -1000000

for i in list_ex:
    print(f'now i ={i},max ={max}')
    print('start condition')
    if i>max:
        print(f'i > max , update max -> {i}')
        max = i
    else:
        print('i <= max, not update')
    print('end condition, go to next i')
    
print(max)

now i =1,max =-1000000
start condition
i > max , update max -> 1
end condition, go to next i
now i =5,max =1
start condition
i > max , update max -> 5
end condition, go to next i
now i =9,max =5
start condition
i > max , update max -> 9
end condition, go to next i
now i =-19,max =9
start condition
i <= max, not update
end condition, go to next i
now i =-2,max =9
start condition
i <= max, not update
end condition, go to next i
now i =0,max =9
start condition
i <= max, not update
end condition, go to next i
9

## Function


```python
def ชื่อฟังก์ชั่น(input1,input2,....):
    งานxxx
    งานyyy
    return output
```


ส่วนประกอบสำคัญ
*   input
*   process (ไม่มีไม่ได้)
*   output

####Example1 (มีครบทุกอย่าง)

ข้อดี สามารถเอาตัวแปรมารับคำตอบ แล้วเอาตัวแปรไปใช้ต่อได้

In [ ]:
def find_min(list_A):        #ตั้งชื่อเป็น list_อะไรก็ได้
    min = 1000000           #ตั้งค่าน้อยๆไว้ก่อน
    for i in list_A:
        if i<min:                 #ถ้า i มากกว่า max
            min = i               #จะเปลี่ยน max เป็น i
    return min                  #output

In [ ]:
list_ex=[1,5,9,-19,-2,0]         #กำหนดตัวแปร
print(find_min(list_ex))          #หาคำตอบ โดยใส่ print(ชื่อฟังก์ชัน)

-19

In [ ]:
list_ex=[1,5,9,-19,-2,0]         #กำหนดตัวแปร
XXX=find_min(list_ex)          #เอาตัวแปรมารับคำตอบ
print(XXX)                           #หาคำตอบ โดยใส่ print(ตัวแปร)

-19

####Example 2 (ไม่มี output)

ข้อเสีย ไม่สามารถเอาตัวแปรมารับคำตอบ แล้วเอาตัวแปรไปใช้ต่อได้

In [ ]:
def find_min2(list_ex):
    min = 100000000
    for i in list_ex:
        if i < min:
            min = i
    print(min)                   #ไม่มี output ให้ print min ในฟังก์ชันไปเลย

In [ ]:
list_ex=[1,5,9,-19,-2,0]         #กำหนดตัวแปร
find_min2(list_ex)                 #หาคำตอบ โดยใส่ ชื่อฟังก์ชัน

-19

In [ ]:
YYY = find_min2(list_ex)      #เอาตัวแปรมารับคำตอบ

-19

In [ ]:
print(YYY)                          #ตัวแปร ไม่มี return ออกมา , ไม่สามารถเอาตัวแปรนี้ไปใช้แทน find_min2(list_ex) ได้

None

#### Example 3 (ไม่มี input)

In [ ]:
def Pi_val():                          # () คือ ไม่ใส่ input
    return 3.1416

In [ ]:
r = 10
print(f'พื้นที่วงกลมที่มีเส้นผ่านศูนย์กลางเท่ากับ {r} คือ {Pi_val()*r*r}')

พื้นที่วงกลมที่มีเส้นผ่านศูนย์กลางเท่ากับ 10 คือ 314.16

#### Example 4 (ไม่มีทั้ง input และ output)

In [ ]:
def draw_rectangle():
    print('=====')
    print('|         |')
    print('=====')

In [ ]:
draw_rectangle()

=====
|         |
=====

In [ ]:
def draw_hello():
    print('======')
    print('|  Hello  |')
    print('======')

In [ ]:
draw_hello()

======
|  Hello  |
======

In [ ]:
def draw_rectangle():               #ไม่มี process รันไม่ได้

SyntaxError: ignored

ลักษณะของ input(paremeter,argument)
* จำเป็นต้องใส่ (non-default argument)
* ไม่จำเป็นต้องใส่ (default argument)

/////input ที่ไม่จำเป็นต้องใส่ คือ input ที่มีค่า default

////หลังจากเขียน def เราเรียก '' ค่าที่กำหนดให้ เท่ากับ input '' ว่า ค่า default

////ฟังก์ชันที่ input มีค่า default ถ้าไม่ใส่ input มันจะเรียก ค่า default มาใช้

In [ ]:
def draw_rectangle(dbbound=True):           #กำหนดให้ค่า input เป็น True ซึ่ง True คือ ค่า default 
    if dbbound:
        print('========')
        print('||              ||')
        print('========')
    else:
        print('________')
        print('|            |')
        print('------------')

In [ ]:
draw_rectangle()              #ไม่ใส่ input มันจะเอาค่า default มาใส่ให้

========
||              ||
========

In [ ]:
draw_rectangle(True)        #ใส่ input มันจะไม่สนใจค่า default

========
||              ||
========

In [ ]:
draw_rectangle(False)       #ใส่ input มันจะไม่สนใจค่า default

________
|            |
------------

In [ ]:
find_min2()       #ฟังก์ชันนี้ input ไม่มีค่า default ถ้าไม่ใส่ input ก็หาค่าไม่ได้

TypeError: ignored

In [ ]:
def draw_rectangle(size,dbbound=True):                    #input ที่ไม่มีค่า default อยู่ข้างหน้า ส่วน input ที่มีค่า default อยู่ข้างหลัง
    if dbbound:
        up = '='
        space = ' '
        print(f'{(size+4)*up}')
        print(f'||{size*space}||')
        print(f'{(size+4)*up}')
    else:
        up = '-'
        space = ' '
        print(f'{(size+4)*up}')
        print(f'|{size*space}|')
        print(f'{(size+4)*up}')

In [ ]:
draw_rectangle(2)                                #ใส่ input ที่ไม่มีค่า default  ส่วน input ที่ไม่มีค่า default ไม่ต้องใส่ ก็รันได้

======
||  ||
======

In [ ]:
draw_rectangle(10,False)

--------------
|          |
--------------

In [ ]:
def draw_rectangle2(size,dbbound=True):
    if dbbound:
        up = '='
        #space = ' '
        print(f'{(size+4)*up}')
        print(f'||{size*" "}||')                        # space = " " , เนื่องจาก เราใช้ ' ' ไปแล้ว ตรง space เลยต้องใช้ " "
        print(f'{(size+4)*up}')
    else:
        up = '-'
        #space = ' '
        print(f'{(size+4)*up}')
        print(f'|{size*" "}|')                          # space = " "
        print(f'{(size+4)*up}')

In [ ]:
draw_rectangle2(dbbound=False,size=7)       #การใส่ input แบบไม่เรียงลำดับตาม def ให้กำหนดชื่อของ input ลงไปในนั้นด้วย ว่า แต่ละตัว input ชื่ออะไร

-----------
|       |
-----------

####Quiz 5

สร้าง function วาด 4 เหลี่ยม 
โดยให้สามารถกำหนดความยาวและความกว้างได้ 
แต่ ถ้า ใส่ parameter ตัวเดียว ก็ให้วาด สี่เหลี่ยมจัตุรัส ที่มีความยาวและความกว้างเท่ากับ parameter ที่ใส่

////ข้อสอบให้สร้างรูป

(ให้ปริ้น ความกว้าง x ความยาวของ สี่เหลี่ยม)

ตัวอย่าง
```
rext(3,5)
> 3 x 5
rext(7)
> 7 x 7
```

In [ ]:
def rext(long,wide="Paii"):                    #input ที่ไม่มีค่า default อยู่ข้างหน้า ส่วน input ที่มีค่า default อยู่ข้างหลัง
    if wide=="Paii":
        print(f'{long} x {long}')
    else: 
        print(f'{long} x {wide}')

In [ ]:
rext(3,5)

3 x 5

In [ ]:
rext(7)            
#ไม่ใส่ input ที่ชื่อ wide มันจะเอาค่า default="Paii" มาใส่ให้ 
#เพราะฉะนั้น พอเข้า process มันจึงเข้าเงื่อนไขแรก

7 x 7